<form action="<%= url '/conversations/check' %>" method="post">
	<div class="span8 offset2">
		<table class="table table-striped table-bordered" id="conversations-table">
			<thead>
				<tr>
					<th><input type="checkbox" id="check_all" /></th>
					<th>From</th>
					<th>Message</th>
				</tr>
			</thead>

			<tbody id="conversations" class="load-from-server" data-remote-url="<%= url '/rape' %>">
				<%= erb :'conversations/rows' %>
			</tbody>
		</table>

		<p>
			<input class="btn pull-left" type="submit" name="mark_as_read" value="Mark as read" />
		</p>

		<br />
	</div>
</form>