<% for conversation in @conversations %>
	<tr<% unless conversation.read %> class="unread"<% end %>>
		<td><%= conversation.from_names @current_user.nickname %></td>
		<td><%= conversation.snippet %></td>
	</tr>
<% end %>