<% for conversation in @conversations %>
	<tr<% unless conversation.read %> class="unread"<% end %>>
		<td><input type="checkbox" name="conversations[]" value="<%= conversation.id %>" /></td>
		<td><%= conversation.from_names @current_user.nickname %></td>
		<td><a href="<%= url "/conversations/#{conversation.id}" %>"><%= conversation.snippet %></a></td>
	</tr>
<% end %>