<!doctype html>
<html>
<head>
	<title>Hoi Polloi!</title>

	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css">

	<link rel="stylesheet" href="/stylesheets/style.css">

	<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/hoipolloi.js"></script>
</head>
<body>
	<header>
		<h1>Hoi Polloi!</h1>
	</header>

	<%= yield %>
</body>
</html>