<!doctype html>
<html>
<head>
	<title>Hoi Polloi!</title>

	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css">

	<link rel="stylesheet" href="/stylesheets/style.css">

	<script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/hoipolloi.js"></script>

	<script type="text/javascript" src="http://use.typekit.com/gcb4pqg.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<header class="span8 offset2">
				<h1>Hoi Polloi!</h1>
			</header>
		</div>

		<%= yield %>
	</div>
</body>
</html>